body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    /* background: linear-gradient(to top left, #28b487, #7dd56f); */
    background-color: blue;
    background: linear-gradient(to top left, #8a28b4, #e81f1f);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw; /* Responsive font size */
    line-height: 1.2; /* Adjusted line height */
    text-decoration: italic;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Improved shadow */
    color: #ffd700; /* Contrasting color */
    width: 100%;
    padding: 30px;
    text-align: center;
}
@media (max-width: 600px) {
    h1 {
        font-size: 30px; /* Smaller font size for mobile */
    }
}
h1:hover {
    color: #ffcc00; /* Change color on hover */
    transition: color 0.3s ease; /* Smooth transition */
}